   

            {% for alerta in alertas_activas %}

            <div

                class="alert-card"

                onclick="mostrarDetalle(this)"

                data-tipo="{% if alerta.resultado == 'DENEGADO' %}Acceso no autorizado{% else %}Coincidencia facial baja{% endif %}"

                data-estado="Activo"

                data-camara="{{ alerta.camara }}"

                data-coincidencia="{{ alerta.coincidencia }}%"

                data-ubicacion="{{ alerta.camara }}"

                data-operador="Administrador"

                data-hora="{{ alerta.fecha_hora|date:'d/m/Y H:i:s' }}"
                
                data-foto="{{ alerta.foto_validacion.url }}"

                data-registrado="{{ alerta.preview_registrado }}"

                data-persona="{% if alerta.persona %}{{ alerta.persona.nombre }} {{ alerta.persona.apellido }}{% else %}Desconocido{% endif %}"
                >

                

                <div class="alert-left">

                    <div class="alert-icon

                        {% if alerta.resultado == 'DENEGADO' %}
                            icon-critical
                        {% else %}
                            icon-warning
                        {% endif %}

                    ">

                        {% if alerta.resultado == 'DENEGADO' %}
                            🚨
                        {% else %}
                            ⚠️
                        {% endif %}

                    </div>

                    <div class="alert-info">

                        <h3>

                            {% if alerta.resultado == 'DENEGADO' %}

                                Acceso no autorizado detectado

                            {% else %}

                                Coincidencia facial baja

                            {% endif %}

                        </h3>

                        <p>

                            {{ alerta.camara }}

                            •

                            {{ alerta.fecha_hora|time:"H:i" }}

                        </p>

                    </div>

                </div>

                <div class="alert-actions">

                    <button class="btn btn-resolve"
                    
                            onclick="resolverAlerta(

                            {{ alerta.id }},

                            this

                        )">

                        Resolver

                    </button>

                </div>

            </div>

            {% empty %}

            <div class="alert-card">

                <div class="alert-left">

                    <div class="alert-icon icon-info">
                        ✅
                    </div>

                    <div class="alert-info">

                        <h3>
                            No existen alertas activas
                        </h3>

                        <p>
                            Sistema operando normalmente
                        </p>

                    </div>

                </div>

            </div>

            {% endfor %}

   


    