{% extends 'base.html' %}
{% load static %}

{% block title %}
Centro de Validación
{% endblock %}

{% block content %}

<div class="content-body">

    <!-- KPIS -->

    <div class="kpis">

        <div class="kpi-card2 kpi-yellow" >
            <h2 id="kpi-pendientes">{{ pendientes }}</h2>
            <span>Validaciones Pendientes Hoy</span>
        </div>

        <div class="kpi-card2 kpi-green" >
            <h2 id="kpi-aprobados">{{ aprobados }}</h2>
            <span>Validaciones Aprobadas Hoy</span>
        </div>

        <div class="kpi-card2 kpi-red" >
            <h2 id="kpi-rechazados">{{ rechazados }}</h2>
            <span>Validaciones Denegadas Hoy</span>
        </div>

        

    </div>

    <!-- PANEL PRINCIPAL -->

    <section class="users-panel">

        <!-- HEADER -->

        <div class="panel-header">

            <div>

                <h2 class="panel-title">
                    Centro de Validación
                </h2>

                <p class="panel-subtitle">
                    Revisión biométrica operativa en tiempo real
                </p>

            </div>

            

        </div>

        <!-- GRID -->

        <div class="validation-queue" id="validation-queue">

            {% for acceso in accesos %}

            <div class="validation-item" data-id="${card.id}"">

                <!-- FOTO -->

                <div class="validation-face">

                    {% if acceso.foto_validacion %}

                        <img
                            src="{{ acceso.foto_validacion.url }}"
                            alt="rostro"
                        >

                    {% else %}

                        <img
                            src="{% static 'img/no-face.jpg' %}"
                            alt="rostro"
                        >

                    {% endif %}

                </div>


                <!-- INFO -->

                <div class="validation-info">

                    <div class="validation-info-top">

                        <h3>

                            {{ acceso.nombre_detectado }}

                        </h3>


                        <span class="status-badge

                            {% if acceso.resultado == 'PERMITIDO' %}

                                card-success

                            {% elif acceso.resultado == 'REVISION' %}

                                card-warning

                            {% else %}

                                card-danger

                            {% endif %}

                        ">

                            {{ acceso.resultado }}

                        </span>

                    </div>


                    <!-- GRID INFO -->

                    <div class="validation-grid-info">

                        <div class="detail-box">

                            <label>Coincidencia</label>

                            <strong>

                                {{ acceso.coincidencia }}%

                            </strong>

                        </div>


                        <div class="detail-box">

                            <label>Cámara</label>

                            <strong>

                                {{ acceso.camara }}

                            </strong>

                        </div>


                        <div class="detail-box">

                            <label>Hora</label>

                            <strong>

                                {{ acceso.fecha_hora|date:"H:i:s" }}

                            </strong>

                        </div>


                        <div class="detail-box">

                            <label>Tipo Usuario</label>

                            <strong>

                                {% if acceso.persona %}

                                    {{ acceso.persona.tipo_persona }}

                                {% else %}

                                    No identificado

                                {% endif %}

                            </strong>

                        </div>

                    </div>

                </div>


                <!-- BIOMETRÍA -->

                <div class="validation-biometric">

                    <div class="bio-box">

                        <span class="bio-title">

                            Biometría Facial

                        </span>

                        <div class="bio-status success">

                            Detectada

                        </div>

                    </div>


                    <div class="bio-box">

                        <span class="bio-title">

                            Biometría Dactilar

                        </span>

                        <div class="bio-status warning fingerprint-status">

                            Pendiente

                        </div>

                    </div>

                </div>


                <!-- ACCIONES -->

                <div class="validation-actions">

                    <!-- SENSOR HUELLA -->

                    <div class="fingerprint-box">

                        <div class="fingerprint-scanner" onclick="validarHuella(this)">

                            <div class="fingerprint-icon scanning">

                                🖐️

                            </div>

                        </div>

                        <div class="fingerprint-data">

                            <h4>

                                Escaneo Dactilar

                            </h4>

                            <p>

                                Esperando validación biométrica...

                            </p>

                        </div>

                    </div>


                    <!-- BOTONES -->

                    <div class="validation-buttons">

                        <button class="btn btn-success" onclick="aprobarAcceso(this)">

                            Aprobar

                        </button>

                        <button class="btn btn-danger" onclick="rechazarAcceso(this)">

                            Rechazar

                        </button>

                    </div>

                </div>

            </div>

            {% empty %}

            <div class="empty-state">

                <h3>

                    No hay validaciones pendientes

                </h3>

            </div>

            {% endfor %}

        </div>

    </section>

</div>

<script>

async function actualizarKPIs(){

    const response = await fetch(
        "/validacion/kpis/"
    )

    const data = await response.json()

    document.getElementById(
        "kpi-pendientes"
    ).innerText = data.pendientes

    document.getElementById(
        "kpi-aprobados"
    ).innerText = data.aprobados

    document.getElementById(
        "kpi-rechazados"
    ).innerText = data.rechazados
}

const validationQueue =

    document.getElementById(
        'validation-queue'
    );


let idsRenderizados = Array.from(

    document.querySelectorAll(
        '.validation-item'
    )

).map(card => Number(card.dataset.id))

/* =========================
   VALIDACION DACTILAR
========================= */

function validarHuella(scanner){

    const icon = scanner.querySelector(
        '.fingerprint-icon'
    )

    const card = scanner.closest(
        '.validation-item'
    )

    const status = card.querySelector(
        '.fingerprint-status'
    )

    const text = card.querySelector(
        '.fingerprint-data p'
    )


    /* ESCANEANDO */

    icon.innerHTML = '🖐️'

    icon.classList.add(
        'scanning'
    )

    status.classList.remove(
        'success'
    )

    status.classList.add(
        'warning'
    )

    status.innerText = 'Escaneando'

    text.innerText =
        'Comparando huella dactilar...'


    /* SIMULACION */

    setTimeout(() => {

        icon.classList.remove(
            'scanning'
        )

        icon.innerHTML = '✓'

        status.classList.remove(
            'warning'
        )

        status.classList.add(
            'success'
        )

        status.innerText = 'Detectada'

        text.innerText =
            'Huella validada correctamente.'

    }, 2000)

}

/* =========================
   CARDS LIVE
========================= */

async function actualizarCards(){

    const response = await fetch(
        '/validacion/cards/'
    )

    const data = await response.json()

    const idsBackend = data.cards.map(
        card => String(card.id)
    )


    document.querySelectorAll(
        '.validation-item'
    ).forEach(card => {

        const id = card.dataset.id

        if(
            !idsBackend.includes(id)
        ){

            card.remove()

        }

    })    

    data.cards.forEach(card => {

        if(
            idsRenderizados.includes(
                card.id
            )
        ){
            return
        }


        idsRenderizados.push(
            card.id
        )


        const html = `

<div class="validation-item" data-id="${card.id}"">

    <div class="validation-face">

        <img
            src="${card.foto}"
            alt="rostro"
        >

    </div>


    <div class="validation-info">

        <div class="validation-info-top">

            <h3>

                ${card.nombre}

            </h3>

            <span class="status-badge card-warning">

                ${card.resultado}

            </span>

        </div>


        <div class="validation-grid-info">

            <div class="detail-box">

                <label>Coincidencia</label>

                <strong>

                    ${card.coincidencia}%

                </strong>

            </div>


            <div class="detail-box">

                <label>Cámara</label>

                <strong>

                    ${card.camara}

                </strong>

            </div>


            <div class="detail-box">

                <label>Hora</label>

                <strong>

                    ${card.hora}

                </strong>

            </div>


            <div class="detail-box">

                <label>Tipo Usuario</label>

                <strong>

                    ${card.tipo_persona}

                </strong>

            </div>

        </div>

    </div>


    <div class="validation-biometric">

        <div class="bio-box">

            <span class="bio-title">

                Biometría Facial

            </span>

            <div class="bio-status success">

                Detectada

            </div>

        </div>


        <div class="bio-box">

            <span class="bio-title">

                Biometría Dactilar

            </span>

            <div class="bio-status warning fingerprint-status">

                Pendiente

            </div>

        </div>

    </div>


    <div class="validation-actions">

        <div class="fingerprint-box">

            <div class="fingerprint-scanner" onclick="validarHuella(this)">

                <div class="fingerprint-icon scanning">

                    🖐️

                </div>

            </div>

            <div class="fingerprint-data">

                <h4>

                    Escaneo Dactilar

                </h4>

                <p>

                    Esperando validación biométrica...

                </p>

            </div>

        </div>


        <div class="validation-buttons">

            <button class="btn btn-success" onclick="aprobarAcceso(this)">

                Aprobar

            </button>

            <button class="btn btn-danger" onclick="rechazarAcceso(this)">

                Rechazar

            </button>

        </div>

    </div>

</div>

`


        validationQueue.insertAdjacentHTML(

            'afterbegin',

            html

        )

    })

}

/* REFRESH */

setInterval(
    actualizarKPIs,
    3000
)

setInterval(
    actualizarCards,
    3000
)

/* INIT */

actualizarKPIs()
actualizarCards()

/* =========================
   APROBAR
========================= */

async function aprobarAcceso(button){

    const card = button.closest(
        '.validation-item'
    )

    const id = card.dataset.id


    await fetch(

        '/validacion/actualizar-estado/',

        {

            method:'POST',

            headers:{
                'Content-Type':
                    'application/json'
            },

            body:JSON.stringify({

                id:id,

                estado:'APROBADO_MANUAL'

            })

        }

    )


    card.remove()

}


/* =========================
   RECHAZAR
========================= */

async function rechazarAcceso(button){

    const card = button.closest(
        '.validation-item'
    )

    const id = card.dataset.id


    await fetch(

        '/validacion/actualizar-estado/',

        {

            method:'POST',

            headers:{
                'Content-Type':
                    'application/json'
            },

            body:JSON.stringify({

                id:id,

                estado:'RECHAZADO'

            })

        }

    )


    card.remove()

}

</script>

{% endblock %}